<h1><%= @owner.name%></h1>

<ul>
  <% @owner.pets.each do |pet| %>
  <li>
    <%= link_to pet.name, pet_path(pet) %>, which is a   <%=pet.pet_type%>.
  </li>
  <% end %>
</ul>

<%= link_to "Make New Pet", new_pet_path %><br />
<%= link_to "<=  Back", owners_path %>
